html, body {
  font-family: 'Open Sans', Verdana;
  font-size: 13px;
  margin:0;
}

#golApp {
  margin: 15px;
  text-align: center;
}

#golArea {
  border: 1px solid #f5f5f5;
}

hr {
  border: none;
  border-top: 1px solid #cacaca;
}